local_llm/kilotech/.pio
DATABASE_UPGRADE_PLAN.md
# Python bytecode
__pycache__/
*.py[cod]

.vscode/

# Cache / local DB files
*.sqlite
*.sqlite3
web_based_llm/db.sqlite3
*.db
*.cache
logs.txt

# Virtual envs
.venv/
venv/
.env/
env/
*/.env

token.txt
adminlogin.txt
